/* VARIABLES */
$light-color: #fff;
$body-font-family: 'Lora', sans-serif, Arial;
$button-font-family: 'Rubik', sans-serif, Arial;

$main-font-size: 16px;
$quote-font-size: 24px;
$quote-font-size-sm-screens: 20px;